version: '3.8'

services:
  cycle:
    build: .
    image: ${DOCKER_PUSH_IMAGE}.amazonaws.com/checker-ml-training:latest
    container_name: train_cycle
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - TF_FORCE_GPU_ALLOW_GROWTH=true
    volumes:
      - ./src:/app/src
    working_dir: /app
    command: python -m src.gpt_ml.alpha_zero.train_cycle